
<div class="card">
    <div class="card-header">
     ID:{{kpi._id}}
    </div>
    <div class="card-header">
        Title:{{kpi.title}}
       </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">departmentId:{{kpi.departmentId}}</li>
      <li class="list-group-item">departmentName:{{kpi.departmentName}}</li>
      <li class="list-group-item">ytdCalculation:{{kpi.ytdCalculation}}</li>
      <li class="list-group-item">ownerEmployeeId:{{kpi.ownerEmployeeId}}</li>
    </ul>
  </div>

  <div>
    {{kpi|json}}
  </div>